section.about {
  width: calc(100% - 160px);
  margin: auto;
  /* height: 100vh; */
  height: max-content;
  /* min-height: 1290px;
  min-height: 1384px; */
  text-align: center;
}

section.about h3 {
  margin-top: 100px;
}

section.about p,
section.about span {
  font-size: 0.9rem;
  width: 49%;
  margin: auto;
  /* text-align: center; */
}

section.about p:nth-child(3),
section.about p:nth-child(4) {
  margin-top: 27px;
  margin-bottom: 27px;
}
section.about .resume {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

section.about .resume a {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: lightgrey;
  border-radius: 1000px;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.5s;
}

section.about .resume a svg {
  stroke: var(--text-color);
  width: 18px;
  height: 18px;
  margin-left: 8px;
}

section.about .resume a:hover {
  background-color: var(--primary);
  transition: all 0.5s;
}

@media screen and (max-width: 1080px) {
  section.about p {
    min-width: 238px;
  }
}

@media screen and (max-width: 935px) {
  .page .container section.about {
    /* min-height: 1620px; */
  }
}

@media screen and (max-width: 720) {
  .page .container section.about {
    width: calc(100% - 80px);
  }
}
